[submodule "dungeoncrawler-content"]
path = dungeoncrawler-content
url = https://github.com/Forseti-Life/dungeoncrawler-content.git
[submodule "dungeoncrawler-pf2e"]
path = dungeoncrawler-pf2e
url = https://github.com/Forseti-Life/dungeoncrawler-pf2e.git
[submodule "forseti-devops"]
path = forseti-devops
url = https://github.com/Forseti-Life/forseti-devops.git
[submodule "forseti-docs"]
path = forseti-docs
url = https://github.com/Forseti-Life/forseti-docs.git
[submodule "forseti-job-hunter"]
path = forseti-job-hunter
url = https://github.com/Forseti-Life/forseti-job-hunter.git
[submodule "forseti-meshd"]
path = forseti-meshd
url = https://github.com/Forseti-Life/forseti-meshd.git
[submodule "forseti-mobile"]
path = forseti-mobile
url = https://github.com/Forseti-Life/forseti-mobile.git
[submodule "forseti-platform-specs"]
path = forseti-platform-specs
url = https://github.com/Forseti-Life/forseti-platform-specs.git
[submodule "forseti-shared-modules"]
path = forseti-shared-modules
url = https://github.com/Forseti-Life/forseti-shared-modules.git
[submodule "h3-geolocation"]
path = h3-geolocation
url = https://github.com/Forseti-Life/h3-geolocation.git
[submodule "forseti-safety-content"]
path = forseti-safety-content
url = https://github.com/Forseti-Life/forseti-safety-content.git
[submodule "forseti-safety-calculator"]
path = forseti-safety-calculator
url = https://github.com/Forseti-Life/forseti-safety-calculator.git
[submodule "forseti-content"]
path = forseti-content
url = https://github.com/Forseti-Life/forseti-content.git
[submodule "forseti-community-incident-report"]
path = forseti-community-incident-report
url = https://github.com/Forseti-Life/forseti-community-incident-report.git
[submodule "forseti-company-research"]
path = forseti-company-research
url = https://github.com/Forseti-Life/forseti-company-research.git
[submodule "forseti-nfr"]
path = forseti-nfr
url = https://github.com/Forseti-Life/forseti-nfr.git
[submodule "forseti-copilot-agent-tracker"]
path = forseti-copilot-agent-tracker
url = https://github.com/Forseti-Life/forseti-copilot-agent-tracker.git
[submodule "forseti-institutional-management"]
path = forseti-institutional-management
url = https://github.com/Forseti-Life/forseti-institutional-management.git
[submodule "forseti-jobhunter-tester"]
path = forseti-jobhunter-tester
url = https://github.com/Forseti-Life/forseti-jobhunter-tester.git
[submodule "forseti-agent-evaluation"]
path = forseti-agent-evaluation
url = https://github.com/Forseti-Life/forseti-agent-evaluation.git
